{% extends 'base.html' %}
{% load static %}


{% block active %}
<div class="navbar-nav ms-auto py-0">
    <a href="{% url 'home' %}" class="nav-item nav-link ">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
    <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
    <div class="nav-item dropdown  active">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Products</a>
{% endblock active %}



{% block heading %}

<div class="container-fluid py-5 hero-header mb-5" style="position: relative; background-image: url('{% static 'img/medical_and_healthcare.webp' %}'); background-size: cover; background-position: center;">
    <!-- Indian Navy Blue overlay -->
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(39, 51, 119, 0.7); z-index: 1;"></div>

    <div class="row py-3" style="position: relative; z-index: 2;">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Product Categories</h1>
            <h2 class="text-white">Explore Our Healthcare Categories</h2>
            
            <a href="{% url 'home' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Categories</a>

        </div>
    </div>
</div>
<!-- Hero End -->

{% endblock heading %}




{% block content %}




<style>
 
</style>



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <!-- First Row with Image and Text -->
        <div class="row g-5 mb-5">
            
            <div class="col-lg-12">
                <div class="section-title mb-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Products in {{ category.name }}</h5>

                    <h1 class="display-5 mb-0">Explore Our Range of Products</h1>

                </div>
                <!-- Two Columns of Services -->
                {% for product in products %}
                <div class="row g-5">
                    <a href="{% url 'product_details' product.id %}" class="text-decoration-none">
                    <div class="col-md-4 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded overflow-hidden">
                            <img class="img-fluid" src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}" style="width: 100%;"/>
                        </div>
                        <div class="bg-light p-2 rounded-bottom position-relative">
                            <h4 class="text-center">{{ product.name }}</h4>
                            <hr class="text-primary w-50 mx-auto mt-0"/>
                            <ul class="list-unstyled text-center">
                                <li>{{ product.description|truncatewords:20 }}</li>
                                
                            </ul>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>






<div class="container mt-4">
    
    <h1 class="mb-4">Products in {{ category.name }}</h1>
    <ul class="list-unstyled">
        {% for product in products %}
            <li class="media product-item">
                {% if product.images.all %}
                    <img src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                    <img src="{% static 'default_image.png' %}" alt="Default Image" class="product-image"> <!-- Optional default image -->
                {% endif %}
                <div class="media-body">
                    <h5 class="mt-0 mb-1">
                        <a href="{% url 'product_details' product.id %}" class="text-decoration-none">{{ product.name }}</a>
                    </h5>
                    <p>{{ product.description|truncatewords:15 }}</p> <!-- Optional description -->
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<br>
<br>
<br>
<br>
{% endblock content %}