{% extends 'base.html' %}
{% load static %}

{% block active %}
<div class="navbar-nav ms-auto py-0">
    <a href="{% url 'home' %}" class="nav-item nav-link ">Home</a>
    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
    <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
    <a href="{% url 'contact' %}" class="nav-item nav-link ">Contact</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Products</a>
        
        <div class="dropdown-menu m-0">
          <a href="{% url 'all_products' %}" class="dropdown-item">All products</a>
          <a href="{% url 'categories' %}" class="dropdown-item">Categories</a>
        </div>
      </div>
        {% if user.is_staff %}
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Management</a>
              <div class="dropdown-menu m-0">
              <a href="{% url 'upload_product' %}" class="dropdown-item">Upload Product</a>
              <a href="{% url 'upload_category' %}" class="dropdown-item">Upload Category</a>
              <a href="{% url 'edit_and_delete' %}" class="dropdown-item">Edit & delete</a>
              </div>
        </div>
          
          {% endif %}
    </div>
{% endblock active %}





{% block heading %}
   <!-- Hero Start -->
   <div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Edit Product: {{ product.name }}</h1>
            <h2 class="text-white">Get in Touch Today with the Best Healthcare Management in UAE</h2>
            <a href="{% url 'home' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Contact</a>
        </div>
    </div>
</div>
<!-- Hero End -->
{% endblock heading %}

{% block content %}

<h2>Edit Product: {{ product.name }}</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>


{% endblock content %}
